*{
    margin: 0;
    padding: 0;
}

html {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(255, 0, 0);
    height: 100vh;
    background-image: url(5da6690050788b385262c01dce31baa1.jpg);
    background-position: center;
    background-size:contain;
    background-attachment: fixed;

}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile > p {
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}


.profile > img {
    width: 150px; 
    height: 150px;
    border: 3 px solid black ;
    border-radius: 100%;

}

.link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

}

.link > a {
    background-color: #fff;
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    border: 3px solid black;
    border-radius: 7px;
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500
}

.link > a:hover {
    background-color: red;
}

.footer {
    text-align: center;
}

.footer >  i {
    color: #fff;
    font-size: 20px;

}